@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0px;
    counter-set: list;

    background-image: url("images/bliss.jpg");
    background-size: cover;
    background-attachment: fixed;

    --section-margin: 3rem;

    --border-size: 5px;
    --border-color: rgb(0, 0, 0);
}

* {
    font-family: 'Roboto', sans-serif;
}

h2::before {
    counter-increment: list;
    content: counter(list) " -\00a0" 
}

h1, h2, p {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
h1 {
    width: 100%;
}

#list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

section {
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
    box-shadow: 5px 5px rgb(0, 0, 0);

    padding: 50px;
    background-attachment: fixed;
    background-size: 500px 500px;
}


h2 {
    margin-bottom: 1em;
}
.descriptor {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    text-align: center;
    width: clamp(300px, 35vw, 800px);
}


/* header and footer */

header, footer {
    height: 150px;
    background-color: #2a9bf800;
}

header {
    border-bottom: var(--border-size) solid var(--border-color);
}
footer {
    border-top: var(--border-size) solid var(--border-color);
}


/* backgrounds */

#cactus {
    background-image: url("images/cactus.jpg");
}
#lavender {
    background-image: url("images/lavender.jpg")
}
#oak_tree {
    background-image: url("images/oak_tree.jpg")
}
#grass {
    background-image: url("images/grass.jpg")
}
#sunflower {
    background-image: url("images/sunflower.jpg")
}
#mushroom {
    background-image: url("images/mushroom.jpg")
}
#pines {
    background-image: url("images/pines.jpg")
}
#sakura {
    background-image: url("images/sakura.jpg")
}
#tumbleweed {
    background-image: url("images/tumbleweed.jpg")
}
#gloom_shroom {
    background-image: url("images/gloom_shroom.png")
}

/* scroll bar */


body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    background: rgba(61, 61, 61, 0.233);        /* color of the tracking area */
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}